.logotipo {
  width: 40px;
  border-radius: 100%;
}

nav {
  background-color: #737373;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171810;
  color: #b68900;
  margin: 0;
  padding: 1px;
}

footer img {
  border-radius: 50%;
  width: 6%;
}

.titulo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.etapa1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.etapa2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border: solid 1px black;
  color: black;
  transition: 0.4s ease-out;
}

.button:hover {
  color: white;
  background-color: black;
  transition: 0.4s ease-out;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button,
.finish a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.finish a:hover,
button:hover {
  color: #b68900;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}
