.logotipo {
  width: 40px;
  border-radius: 100%;
}

.background {
  background-image: url(/src/assets/Logotipo_SCE.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171810;
  color: #b68900;
  margin: 0;
  padding: 1px;
}

footer img {
  border-radius: 50%;
  width: 6%;
}

nav {
  background-color: #737373;
}

.titulo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.etapa1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: black;
}

.etapa2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border: solid 1px black;
  color: black;
  transition: 0.4s ease-out;
}

.button:hover {
  color: white;
  background-color: black;
  transition: 0.4s ease-out;
}
